/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  padding: 0px;
  margin-top: 0px!important;
  background-color: #fff;
}

.content-background{
  background-color: #f9f9f9;
  margin-top: -10px;
  padding-bottom: 40px;
}

h1,h2,h3,h4{
  margin-top: 10px;
}
